:root {
  --primary: #c51b29;
  --secondary: #b59c2c;
  --text: #6a6b83;
  --dark: #050609;
  --white: #fff;
}

body,
span {
  color: var(--text);
  font-family: bely, serif;
  font-weight: 400;
  font-style: normal;
}

input,
span {
  font-family: new-order, sans-serif;
  font-weight: 500;
  font-style: normal;
}

span {
  font-size: 1.5rem;
}

.logo-font {
  font-family: bely-display, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2.logo-font {
  color: var(--primary);
}

label {
  font-weight: bold;
}

nav {
  background: var(--primary);
}

.btn-link {
  text-decoration: none;
  color: var(--dark);
  border: 1px solid var(--dark);
}

.btn-link:hover {
  border: var(--secondary);
  background: var(--secondary);
  color: var(--white);
}

.card-header {
  background: var(--white);
  border: none;
}

footer {
  background-color: var(--primary);
  padding: 1rem;
}

footer .social > a {
  color: var(--white);
  opacity: 0.75;
}

footer .social > a:hover {
  color: var(--secondary);
  opacity: 0.9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark);
  font-family: bely, serif;
  font-weight: 700;
  font-style: normal;
}
.bsicon {
  color: rgb(85, 60, 123);
}

.jsicon {
  color: rgb(247, 233, 30);
}

.html5icon {
  color: rgb(227, 76, 38);
}

.css3icon {
  color: rgb(38, 77, 228);
}

main > .container {
  padding: 60px 15px 0;
  margin-bottom: 5rem;
}

.checklist > li i {
  color: var(--secondary);
}

code[class*="language-"],
pre[class*="language-"] {
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

.sticky-footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
}
